<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h3 class="text-title">テキスト教材</h3>
      <%= search_form_for @search do |f| %>
        <div class="row justify-content-center">
          <div class="form-group col-4">
            <%= f.search_field :title_or_genre_cont, class: "form-control", placeholder: "教材を探す" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% @texts.each do |text| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card card-style">
          <a class="text-decoration-none" target="_blank" href="/texts/<%= text.id %>">
            <svg class="bd-placeholder-img card-img-top w-100" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
            <div class="card-body">
              <object>
                <a href="#" class="btn btn-secondary w-100">視聴済みにする</a>
              </object>
              <p class="card-text"><%= text.title %></p>
              <p class="card-title">【<%= text.genre %>】</p>
            </div>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @texts%> 

